.carousel-card {
	box-sizing: border-box;
	/* border: solid 1px peachpuff; */
	width: 100%;
	background: rgb(237, 111, 151);	
	max-width: 540px;
	min-height: 23.5em;
	height: 100%;

}

.carousel-inner {
	min-height: 20em;
	/* border: solid forestgreen; */

}
.carousel.slide {
	min-height: 100%;
	/* border: solid purple; */
	min-height: 20em;

}

/* 
.carousel-card.carousel-item.active {
	height: 100%;
	border: solid orangered;
	flex-grow: 1;
} */

@media (max-width: 425px) {
	.carousel-card.active {
		/* background: red; */
		/* width: ""; */
	}
}

/* w={{ base: "80vw", sm: "85vw" }} */

.carousel-card.active {
	/* border: solid blue 2px; */
	/* box-sizing: border-box; */
	max-width: 540px !important;
	height: 100%;
	/* background: red; */
}

.carousel-control-next.one {
	background: rgb(213, 248, 77);
}

.carousel-control-next.two {
	background: rgb(129, 25, 40);
}

.carousel-control-next {
	height: 100px;
	margin: auto 0;
	/* border-radius: 100% 0% 0% 100% / 45% 4% 96% 55%; */
	opacity: 1;
}
.carousel-control-next-icon {
	/* height: 100px; */
	margin: auto 0;
	/* border-radius: 100% 0% 0% 100% / 45% 4% 96% 55%; */
	opacity: 1;
	color: transparent;
}

.game-over {
	width: 50%;
	margin: 0 auto;
	z-index: 30;
	position: relative;
}

.modal-content {
	display: flex;
	place-items: center stretch;
	background: rgb(228, 150, 129);
	color: rgb(117, 6, 36);
}

.modal-body,
.modal-header {
	width: 100%;
}
