
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap'); */

body {
	font-family:"Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
  *{
	box-sizing: border-box;
	margin:0%;
	padding:0;
  }



  

/* @keyframes pulsate {
	100% {
		 
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
			0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
	}
	0% {
		text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
			0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
	}
} */
